.container {
  display: flex;
  height: 400px;
  width: 800px;
  background-color: rgb(255, 214, 42);
  padding: 0;
  align-items: center;
}

ul {
  list-style: none;
}

.item {
  background-color: rgb(176, 42, 255);
  width: 100px;
  height: 100px;
  margin-left: 0;
  margin-right: 7px;
}
