.container {
  display: flex;
  height: 400px;
  width: 800px;
  background-color: rgb(255, 214, 42);
  align-items: flex-end;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

.item {
  background-color: rgb(176, 42, 255);
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-right: 0;
}
